.logo-sony {
    width: 100px;
}

.btn {
    border-radius: 6rem;
}

.bi {
    font-size: 24px;
    padding: 6px;
}

.container1 {
    position: relative;
    height: 700px;
}

.img1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.card1 {
    position: relative;
    z-index: 2
}

.img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.returnal {
    width: 250px;
    padding-top: 15rem;

}